#pp1 {font:18px/1em "Times New Roman";text-align:right;font-style: normal;text-indent: 7px;}
#pp2 {font:16px/1em "Verdana";text-align: justify;font-style: oblique;text-indent: 6.25px;}
#pp3 {font:italic 10px/2em "Arial";text-align:right; text-indent: 7.25px;}